/* GENERAL STYLES */
/* Remove default 8px margin */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

h1 {
  font-family: Sail, cursive;
  font-weight: 500;
  font-size: calc(4.5rem + 2.5vw);
  margin: 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-family: Montserrat, serif;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  margin: 0;
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1.05rem;
  margin: 0;
}

p {
  margin: 0;
}

em {
  font-style: normal;
}

.bold {
  font-weight: 400;
}

.underline {
  border-bottom: 1px solid;
  /* text-decoration: underline; */
}

.info-col {
  padding: 1.25rem 0.5rem;
  width: 50%;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .info-col {
    text-align: center;
    width: 100%;
  }
}

.page {
  padding: 50px 1.5rem 0;
}

@media (max-width: 400px) {
  .page {
    padding: 50px 0;
  }
}

.row-center {
  justify-content: center;
}

.col-center {
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.landing-text_name {
  min-height: 115px;
}

.hide {
  display: none;
}

@media (max-width: 576px) {
  .full-name {
    min-height: 190px;
  }
  .hide {
    display: block;
  }
}

/* NAV STYLES */
.nav-bar {
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0),
    rgba(200, 200, 200, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 30px 0px #1a1a1a;
  z-index: 9001;
  padding: 0px 3vw 0px;
  color: white;
}

.nav-logo {
  height: 32px;
}

.nav-bar li {
  list-style: none;
}

.nav-horizontal li {
  padding-left: 2rem;
}

nav a:hover {
  color: #84d4d8;
}

.nav-hamburger {
  font-size: 1.75rem;
  cursor: pointer;
  display: none;
}

.nav-dropdown {
  position: absolute;
  flex-direction: column;
  text-align: end;
  margin: 0;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0),
    rgba(200, 200, 200, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  transition: background-color 0.5s ease;
  color: ivory;
  top: 50px;
  right: 0;
  padding: 0 1rem;
  display: none;
  z-index: 3;
}

.nav-dropdown.show {
  display: flex;
}

.nav-dropdown li {
  padding: 0.5rem;
}

@media (max-width: 576px) {
  .nav-horizontal {
    display: none;
  }
  .nav-hamburger {
    display: block;
  }
}

video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  filter: brightness(55%);
  box-shadow: 0px 0px 30px 0px #1a1a1a;
}

.past-main {
  background-color: rgba(240, 77, 71, 0.9);
}

/*LANDING STYLES*/

.landing-text {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
}

.landing-text h3 {
  margin: 1.25rem 0 1.5rem;
}

/*QUOTE STYLES*/

.container--quote {
  color: white;
  background-color: #f04d47;
  line-height: 25px;
  margin-top: -6px;
  padding: 1.25rem 1.5rem;
  justify-content: space-around;
  box-shadow: inset 0px -10px 20px -10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/*ABOUT ME STYLES*/

.row--about-me {
  margin: auto;
  max-width: 1000px;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.2);
  padding: 1.75rem 3rem;
  justify-content: center;
}

.info-col_avatar {
  max-height: 350px;
  padding: 4px;
  border-radius: 50%;
  margin: 0.5rem 0 0.5rem;
  border: 2px solid #ccc;
}

.info-col_icons-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 22rem;
  z-index: 9000;
}

.icon {
  justify-content: flex-end;
}

.icon p {
  font-size: 2.5rem;
}

.info-col_about {
  margin: 1.25rem 0;
}

.info-col_about_text {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.info-col_about_textspan {
  font-size: 1.5rem;
}

.about-text:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .row--about-me {
    flex-direction: column;
  }
}

@media (min-width: 1600px) {
  .row--about-me {
    max-width: 1200px;
  }
}

/*PORTFOLIO STYLES*/
#portfolio h4 {
  padding-bottom: 1rem;
}

.row--portfolio {
  color: white;
  background-color: #f04d47;
  padding: 3.5rem 0;
  min-width: 100%;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.portfolio_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.5rem;
  margin: 1rem;
}

/* Styling for slide-up effect */

.card {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 225px;
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
}

.card img {
  object-fit: cover;
  width: 350px;
  height: 225px;
  transition: all 0.3s ease-out;
}

.card .caption {
  left: 0;
  position: absolute;
  width: 85%;
  top: 165px;
  background: rgba(240, 77, 71, 0.9);
  padding: 0px 10px 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  transition: all 0.3s ease-out;
}

.caption p {
  font-size: 15px;
  line-height: 23px;
  text-transform: none;
}

.card:hover .caption {
  top: auto;
  bottom: 0px;
}

/* responsive cards */
@media (min-width: 2000px) {
  .portfolio_grid {
    grid-column-gap: 5.5rem;
    grid-row-gap: 3rem;
  }
}

@media (max-width: 1200px) {
  .portfolio_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .card,
  .card img {
    width: 325px;
    height: 210px;
  }

  .caption {
    top: 150px;
  }
}

@media (max-width: 780px) {
  .portfolio_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
  }
  .card,
  .card img {
    width: 300px;
    height: 200px;
  }
  .caption {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    top: auto;
    bottom: 0px;
  }
}

/*CONTACT STYLES*/

#contact {
  padding: 50px 0 0;
}

.container--contact {
  background-color: #51b3bf;
  width: 100%;
  color: #f9f5ea;
}

.row--contact {
  margin: auto;
  max-width: 1100px;
  padding: 2rem;
  justify-content: center;
}

#contact_gif {
  width: 400px;
  align-self: center;
}

.contact_text {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 400px) {
  #contact_gif {
    width: 320px;
    align-self: center;
  }
}

@media (max-width: 800px) {
  .row--contact {
    flex-direction: column;
  }
}

@media (min-width: 1600px) {
  .row--contact {
    max-width: 1400px;
  }
}

/*FOOTER STYLES*/
footer {
  margin-top: 50px;
  font-size: 14px;
  padding: 1.25rem;
  background-color: #f04d47;
  color: white;
  text-align: center;
}
